<launch>

<rosparam file="$(find Assembly_For_Simulation_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="Assembly_For_Simulation" args="BL_calf_joint_position_controller BR_calf_joint_position_controller FR_calf_joint_position_controller FL_calf_joint_position_controller FL_thigh_joint_position_controller BL_thigh_joint_position_controller BR_thigh_joint_position_controller FR_thigh_joint_position_controller FL_hip_joint_position_controller BL_hip_joint_position_controller FR_hip_joint_position_controller BR_hip_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/Assembly_For_Simulation/joint_states"/>
</node>

</launch>