<?xml version="1.0" ?>
<robot name="Assembly_For_Simulation" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Assembly_For_Simulation_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Assembly_For_Simulation_description)/urdf/Assembly_For_Simulation.trans" />
<xacro:include filename="$(find Assembly_For_Simulation_description)/urdf/Assembly_For_Simulation.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.1512593342219887 0.16030316794053984 0.412376843524648" rpy="0 0 0"/>
    <mass value="3.191391801481597"/>
    <inertia ixx="0.027222" iyy="0.005387" izz="0.02879" ixy="-6e-06" iyz="-0.000199" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LH_FOOT_1">
  <inertial>
    <origin xyz="-0.02387677244019979 0.02681764636693125 -0.014730802536600973" rpy="0 0 0"/>
    <mass value="0.49369135494533783"/>
    <inertia ixx="0.00102" iyy="0.000227" izz="0.000889" ixy="-1e-05" iyz="0.000349" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.074761 -0.011235 -0.317307" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/LH_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.074761 -0.011235 -0.317307" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/LH_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RH_FOOT_1">
  <inertial>
    <origin xyz="0.027613181105729107 0.027492504385563943 -0.014145746962176853" rpy="0 0 0"/>
    <mass value="0.4997350884581435"/>
    <inertia ixx="0.00102" iyy="0.000222" izz="0.000896" ixy="9e-06" iyz="0.000342" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.220832 -0.007695 -0.315254" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/RH_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.220832 -0.007695 -0.315254" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/RH_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="RF_FOOT_1">
  <inertial>
    <origin xyz="0.028280901609207154 0.03063734624089054 -0.014033926018012455" rpy="0 0 0"/>
    <mass value="0.49985914540184717"/>
    <inertia ixx="0.001017" iyy="0.00022" izz="0.000895" ixy="9e-06" iyz="0.000339" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.219953 -0.188311 -0.315701" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/RF_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.219953 -0.188311 -0.315701" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/RF_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="LF_FOOT_1">
  <inertial>
    <origin xyz="-0.027057224103647512 0.03285362638972403 -0.0179332893641046" rpy="0 0 0"/>
    <mass value="0.4907857835923385"/>
    <inertia ixx="0.001019" iyy="0.00025" izz="0.000864" ixy="-1e-05" iyz="0.00037" ixz="2e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.0789 -0.186175 -0.321641" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/LF_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.0789 -0.186175 -0.321641" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/LF_FOOT_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Front_left_upperarm_1">
  <inertial>
    <origin xyz="-0.028284917610378983 -0.02108532889406975 -0.028288575949279582" rpy="0 0 0"/>
    <mass value="0.8744793376361596"/>
    <inertia ixx="0.001088" iyy="0.000763" izz="0.000625" ixy="-3.6e-05" iyz="-0.000486" ixz="-4.4e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.083187 -0.243985 -0.4074" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_left_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.083187 -0.243985 -0.4074" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_left_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Back_left_upperarm_1">
  <inertial>
    <origin xyz="-0.02750689648118338 -0.02336284804613996 -0.029081384030744284" rpy="0 0 0"/>
    <mass value="0.8748318275164033"/>
    <inertia ixx="0.001089" iyy="0.000797" izz="0.000592" ixy="-3.4e-05" iyz="-0.000481" ixz="-4.5e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.081839 -0.062996 -0.407244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_left_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.081839 -0.062996 -0.407244" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_left_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Back_right_upperarm_1">
  <inertial>
    <origin xyz="0.027209865141448047 -0.023311952469138093 -0.030109181264053264" rpy="0 0 0"/>
    <mass value="0.8799159312518796"/>
    <inertia ixx="0.001109" iyy="0.000826" izz="0.000582" ixy="3.4e-05" iyz="-0.000487" ixz="4.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.218394 -0.059885 -0.40762" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_right_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.218394 -0.059885 -0.40762" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_right_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Front_right_upperarm_1">
  <inertial>
    <origin xyz="0.02807800917517464 -0.020330509261276747 -0.03000008718595981" rpy="0 0 0"/>
    <mass value="0.8783362542022034"/>
    <inertia ixx="0.001108" iyy="0.000823" izz="0.000584" ixy="3.4e-05" iyz="-0.000487" ixz="4.6e-05"/>
  </inertial>
  <visual>
    <origin xyz="-0.217091 -0.240808 -0.407776" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_right_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.217091 -0.240808 -0.407776" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_right_upperarm_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Front_left_shoulder_1">
  <inertial>
    <origin xyz="-0.005339527921810666 -0.025320596641202398 -0.010184059798263811" rpy="0 0 0"/>
    <mass value="0.4319490482609508"/>
    <inertia ixx="0.000147" iyy="0.000126" izz="0.000101" ixy="-2e-06" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.111229 -0.269558 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_left_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.111229 -0.269558 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_left_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Back_left_shoulder_1">
  <inertial>
    <origin xyz="-0.005363913174555646 -0.023387748969751543 -0.010220793704320386" rpy="0 0 0"/>
    <mass value="0.4303475504541287"/>
    <inertia ixx="0.000146" iyy="0.000126" izz="0.0001" ixy="-2e-06" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.110566 -0.083213 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_left_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.110566 -0.083213 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_left_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Front_right_shoulder_1">
  <inertial>
    <origin xyz="0.006087856285854981 -0.025911628553660748 -0.00998663838863767" rpy="0 0 0"/>
    <mass value="0.4625960736060809"/>
    <inertia ixx="0.000154" iyy="0.000135" izz="0.000109" ixy="3e-06" iyz="0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.189346 -0.269558 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_right_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.189346 -0.269558 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Front_right_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Back_right_shoulder_1">
  <inertial>
    <origin xyz="0.006087148320676111 -0.02397456645876838 -0.010035497575170416" rpy="0 0 0"/>
    <mass value="0.4620829118754373"/>
    <inertia ixx="0.000153" iyy="0.000135" izz="0.000109" ixy="2e-06" iyz="0.0" ixz="1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-0.190009 -0.083213 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_right_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-0.190009 -0.083213 -0.418845" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Assembly_For_Simulation_description/meshes/Back_right_shoulder_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="BL_calf_joint" type="revolute">
  <origin xyz="-0.007078 -0.051761 -0.089937" rpy="0 0 0"/>
  <parent link="Back_left_upperarm_1"/>
  <child link="LH_FOOT_1"/>
  <axis xyz="1.0 -0.000123 5e-05"/>
  <limit upper="0.785398" lower="-3.141593" effort="100" velocity="100"/>
</joint>

<joint name="BR_calf_joint" type="revolute">
  <origin xyz="0.002438 -0.05219 -0.092366" rpy="0 0 0"/>
  <parent link="Back_right_upperarm_1"/>
  <child link="RH_FOOT_1"/>
  <axis xyz="-1.0 6.2e-05 -0.0"/>
  <limit upper="3.141593" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="FR_calf_joint" type="revolute">
  <origin xyz="0.002862 -0.052497 -0.092075" rpy="0 0 0"/>
  <parent link="Front_right_upperarm_1"/>
  <child link="RF_FOOT_1"/>
  <axis xyz="-1.0 6.2e-05 -0.0"/>
  <limit upper="3.141593" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="FL_calf_joint" type="revolute">
  <origin xyz="-0.004287 -0.05781 -0.085759" rpy="0 0 0"/>
  <parent link="Front_left_upperarm_1"/>
  <child link="LF_FOOT_1"/>
  <axis xyz="-1.0 0.000121 -5.2e-05"/>
  <limit upper="3.141593" lower="-0.785398" effort="100" velocity="100"/>
</joint>

<joint name="FL_thigh_joint" type="revolute">
  <origin xyz="-0.028042 -0.025573 -0.011445" rpy="0 0 0"/>
  <parent link="Front_left_shoulder_1"/>
  <child link="Front_left_upperarm_1"/>
  <axis xyz="1.0 -6.2e-05 -0.0"/>
  <limit upper="1.570796" lower="-2.96706" effort="100" velocity="100"/>
</joint>

<joint name="BL_thigh_joint" type="revolute">
  <origin xyz="-0.028727 -0.020217 -0.011601" rpy="0 0 0"/>
  <parent link="Back_left_shoulder_1"/>
  <child link="Back_left_upperarm_1"/>
  <axis xyz="1.0 -6.2e-05 -0.0"/>
  <limit upper="1.570796" lower="-2.96706" effort="100" velocity="100"/>
</joint>

<joint name="BR_thigh_joint" type="revolute">
  <origin xyz="0.028385 -0.023328 -0.011225" rpy="0 0 0"/>
  <parent link="Back_right_shoulder_1"/>
  <child link="Back_right_upperarm_1"/>
  <axis xyz="1.0 -6.2e-05 0.0"/>
  <limit upper="1.570796" lower="-2.96706" effort="100" velocity="100"/>
</joint>

<joint name="FR_thigh_joint" type="revolute">
  <origin xyz="0.027745 -0.02875 -0.011069" rpy="0 0 0"/>
  <parent link="Front_right_shoulder_1"/>
  <child link="Front_right_upperarm_1"/>
  <axis xyz="1.0 -6.2e-05 0.0"/>
  <limit upper="1.570796" lower="-2.96706" effort="100" velocity="100"/>
</joint>

<joint name="FL_hip_joint" type="revolute">
  <origin xyz="0.111229 0.269558 0.418845" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Front_left_shoulder_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="1.22173" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="BL_hip_joint" type="revolute">
  <origin xyz="0.110566 0.083213 0.418845" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Back_left_shoulder_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="1.22173" lower="-1.047198" effort="100" velocity="100"/>
</joint>

<joint name="FR_hip_joint" type="revolute">
  <origin xyz="0.189346 0.269558 0.418845" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Front_right_shoulder_1"/>
  <axis xyz="-0.0 1.0 0.0"/>
  <limit upper="1.047198" lower="-1.22173" effort="100" velocity="100"/>
</joint>

<joint name="BR_hip_joint" type="revolute">
  <origin xyz="0.190009 0.083213 0.418845" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Back_right_shoulder_1"/>
  <axis xyz="0.0 1.0 0.0"/>
  <limit upper="1.047198" lower="-1.22173" effort="100" velocity="100"/>
</joint>

</robot>
